@{
	ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
	<h1 class="display-4">Bem vindo!</h1>
	<p>Sistema de controle de Lembretes</p>
	<br/
</div>

<div class="text-center">
	<p><strong>Já que esta por aqui, por que não aproveitamos pra falar de mim?!</strong></p>

   <p>Olá, me chamo Getúlio tenho 21 anos e atualmente estou no 5º periodo do Curso de Sistemas de Informação na UFVJM, estou
	   como diretor do setor de Marketing e Comercial da empresa junior Next Step onde entrei em busca de aprender mais sobre
	   trabalho em equipe e a me comunicar melhor, nesse semestre estou aprendendo sobre programação orientada a objeto e também
	   estou aproveitando para aprender mais sobre as linguagem de Java e C#, futuramente pretendo aprender mais sobre o front.
   </p>
</div>
