@model LembreteModel
@{
    ViewData["Title"] = "Apagar Lembretes";
}

<div class="text-center">
    <h3>Você realmente deseja apagar este lembrete?</h3> 
</div>
<a class="btn btn-primary" asp-controller="Lembrete" asp-action="Index" role="button">Cancelar</a>
<a class="btn btn-danger" asp-controller="Lembrete" asp-action="Apagar" asp-route-nome="@Model.Nome" role="button">Confirmar</a>
